/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.lwr-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.lwr-league {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.lwr-league-name-location {
    margin: auto;
}

.lwr-league-image {
    max-height: 0;
}

.lwr-league-name {
    /* font-size: 2vw; */
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.lwr-league-name::after {
    clear: left;
}

.lwr-location {
    color: #696969;
    font-style: italic;
    margin: 0 0 1rem;
    text-align: center;
    padding-bottom: 16px;
}

.lwr-location::after {
    clear: both;
}

.lwr-all-stats {
    display: inline-block;
    margin: 0 auto;
}

.lwr-statistics {
    /* font-size: 0.9rem; */
    font-weight: 700;
    /* line-height: 2.8; */
}

.lwr-world-ranking,
.lwr-regional-ranking {
    color: #f5a2c6;
    font-weight: 700;
}

.lwr-win-losses {
    padding: 16px;
    margin: auto;
}

.lwr-win-loss,
.lwr-info-button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: 0 2px;
}

.lwr-win-loss-l {
    background: #e58686;
}

.lwr-win-loss-w {
    background: #86c880;
}

.lwr-info-button {
    background: #A89FE3;
    cursor: pointer;
}

.lwr-info-button:hover {
    background: #f5a2c6;
}

.league-wfda-stats-link {
    margin: auto;
}

.lwr-hidden {
    display: none;
}

.lwr-overlay {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:

        hsla(0, 0%, 100%, .5);
    z-index: 100;
    transition: opacity .3s ease-in-out;

}

.lwr-popup {
    pointer-events: none;
    position: fixed;
    z-index: 1040;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    animation: growIn 0.3s ease-out;
    animation-fill-mode: forwards;
}

.lwr-popup-content {
    padding: 1rem 1.25rem 2rem;
    pointer-events: auto;
    position: relative;
    top: 50%;
    margin: 0 1rem;
    transform: translateY(-50%);
    max-height: calc(100% - 2rem);
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: white;

    @media screen and (min-width: 530px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 640px) {
        padding: 1rem 2rem 2rem;
    }

    .lwr-popup-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    p {
        line-height: 1.6;
    }
}